name: verus

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'CONTRIBUTING.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      # Install Verus, so we can test proof actions
      - name: Install Verus' Toolchain Dependencies
        shell: bash
        run: |
          curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --profile minimal --default-toolchain none -y
          echo "${CARGO_HOME:-$HOME/.cargo}/bin" >> $GITHUB_PATH

      - name: Install Rust Toolchain
        run: |
          rustup update --no-self-update stable
          rustup install 1.82.0-x86_64-unknown-linux-gnu

      - name: Get the URL for the latest Verus release
        id: verus-release-info
        run: |
          jq --version
          echo "VERUS_URL=$(curl -s https://api.github.com/repos/verus-lang/verus/releases/latest | jq -r '.assets[].browser_download_url' | grep x86-linux -)" >> $GITHUB_OUTPUT

      - name: Download the latest Verus release
        run: |
          curl --proto '=https' --tlsv1.2 -LsSf ${{ steps.verus-release-info.outputs.VERUS_URL }} -o verus.zip; unzip verus.zip

#      - name: Install latest rust toolchain
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: stable
#          default: true
#          override: true

      - name: Test Syntax
        run: cargo test --package syntax --lib

      - name: Test Proof Actions
        env:
          VERUS_BINARY_PATH: /home/runner/work/verus-analyzer/verus-analyzer/verus-x86-linux/verus
        run: cargo test --package ide-assists --lib -- handlers::proof_action

      - name: Build Proof-Action Version of the LSP-Server
        run: cargo xtask dist --proof-action
